# ROS 2 build artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VSCode
.vscode/

# Colcon metadata
.colcon/

# Other system-specific
.DS_Store